@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-size: .875rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

header {
  padding: 20px 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;

  h1 {
    line-height: 1em;
    a {
      display: block;
      img {
        vertical-align: top;
      }
    }
  }

