@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-size: .875rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
  object-fit: contain;
}

.sec-title {
  text-transform: uppercase;
  text-align: center;
}

.sec-title {
  font-size: 36px;
  margin-bottom: 40px;
}

/*--------------------------------------------
header
--------------------------------------------*/
header {
  padding: 20px 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;

  h1 {
    line-height: 1em;
    a {
      display: block;
      img {
        vertical-align: top;
      }
    }
  }

  #nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    padding: 60px 25px;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
    background: #121212;
    height: 100vh;

    a {
      color: white;
    }

    .menu {
      margin-bottom: 60px;
      li {
        padding: 20px 0;
        border-top: solid 1px white;
        &:last-child {
          border-bottom: solid 1px white;
        }
        a {
          text-transform: uppercase;
        }
      }
    }

    .sns {
      li {
        margin-bottom: 15px;
      }
    }

    &.open {
      left: 0;
      opacity: 1;
    }
  }
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;

    span {
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #333;
      border-radius: 4px;
      transition: all .5s;

      &:first-child {
        top: 4px;
      }

      &:nth-child(2) {
        top: 14px;
      }

      &:last-child {
        bottom: 4px;
      }
    }

    &.open {
      span {
        &:first-child {
          transform: translateY(10px) rotate(-315deg);
          background-color: white;
        }

        &:nth-child(2) {
          opacity: 0;
          background-color: white;
        }

        &:last-child {
          transform: translateY(-10px) rotate(315deg);
          background-color: white;
        }
      }
    }
  }

  #mask {
    display: none;
    transition: all .5s;

    &.open {
      display: block;
      background-color: #000;
      opacity: .8;
      width: 100%;
      height: 100%;
      z-index: 10;
      position: fixed;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
}

#main {
  padding-top: 60px;
}

#video {
  margin-bottom: 120px;
}

/*--------------------------------------------
pick-up
--------------------------------------------*/





/*--------------------------------------------
feature
--------------------------------------------*/
#feature {
  max-width: 1240px;
  margin: 0 auto;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    justify-content: space-between;

    .item {
      margin-bottom: 10px;
      box-shadow: 0 0 8px gray;

      img {
        vertical-align: top;
      }

      .texts {
        padding: 30px;

        .cat {
          margin-bottom: 20px;
          font-size: .8rem;
        }

        .text {
          margin-bottom: 20px;
          font-weight: bold;
        }

        .date {
          font-size: .8rem;
          text-align: right;
        }
      }
    }
  }
}

}
